/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .skill-percent-item{
        font-size: 15px !important;
    }
    .skill-name-item{
        font-size: 15px !important;
    }
    .skill-line{
        height: 7px !important;
    }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 770px) and (max-width: 993px) {
    .package-body > .package-button{
        padding: 20px 30px;
        font-size: 13px;
    }
}

