@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/300/open-sans-300.eot');
    src: url('../fonts/open-sans/300/open-sans-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/300/open-sans-300.woff2') format('woff2'),
    url('../fonts/open-sans/300/open-sans-300.woff') format('woff'),
    url('../fonts/open-sans/300/open-sans-300.ttf') format('truetype'),
    url('../fonts/open-sans/300/open-sans-300.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/300-italic/open-sans-300-italic.eot');
    src: url('../fonts/open-sans/300-italic/open-sans-300-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/300-italic/open-sans-300-italic.woff2') format('woff2'),
    url('../fonts/open-sans/300-italic/open-sans-300-italic.woff') format('woff'),
    url('../fonts/open-sans/300-italic/open-sans-300-italic.ttf') format('truetype'),
    url('../fonts/open-sans/300-italic/open-sans-300-italic.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/400/open-sans-400.eot');
    src: url('../fonts/open-sans/400/open-sans-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/400/open-sans-400.woff2') format('woff2'),
    url('../fonts/open-sans/400/open-sans-400.woff') format('woff'),
    url('../fonts/open-sans/400/open-sans-400.ttf') format('truetype'),
    url('../fonts/open-sans/400/open-sans-400.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/400-italic/open-sans-400-italic.eot');
    src: url('../fonts/open-sans/400-italic/open-sans-400-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/400-italic/open-sans-400-italic.woff2') format('woff2'),
    url('../fonts/open-sans/400-italic/open-sans-400-italic.woff') format('woff'),
    url('../fonts/open-sans/400-italic/open-sans-400-italic.ttf') format('truetype'),
    url('../fonts/open-sans/400-italic/open-sans-400-italic.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/600/open-sans-600.eot');
    src: url('../fonts/open-sans/600/open-sans-600.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/600/open-sans-600.woff2') format('woff2'),
    url('../fonts/open-sans/600/open-sans-600.woff') format('woff'),
    url('../fonts/open-sans/600/open-sans-600.ttf') format('truetype'),
    url('../fonts/open-sans/600/open-sans-600.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/600-italic/open-sans-600-italic.eot');
    src: url('../fonts/open-sans/600-italic/open-sans-600-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/600-italic/open-sans-600-italic.woff2') format('woff2'),
    url('../fonts/open-sans/600-italic/open-sans-600-italic.woff') format('woff'),
    url('../fonts/open-sans/600-italic/open-sans-600-italic.ttf') format('truetype'),
    url('../fonts/open-sans/600-italic/open-sans-600-italic.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/700/open-sans-700.eot');
    src: url('../fonts/open-sans/700/open-sans-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/700/open-sans-700.woff2') format('woff2'),
    url('../fonts/open-sans/700/open-sans-700.woff') format('woff'),
    url('../fonts/open-sans/700/open-sans-700.ttf') format('truetype'),
    url('../fonts/open-sans/700/open-sans-700.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/700-italic/open-sans-700-italic.eot');
    src: url('../fonts/open-sans/700-italic/open-sans-700-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/700-italic/open-sans-700-italic.woff2') format('woff2'),
    url('../fonts/open-sans/700-italic/open-sans-700-italic.woff') format('woff'),
    url('../fonts/open-sans/700-italic/open-sans-700-italic.ttf') format('truetype'),
    url('../fonts/open-sans/700-italic/open-sans-700-italic.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/800-italic/open-sans-800-italic.eot');
    src: url('../fonts/open-sans/800-italic/open-sans-800-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/800-italic/open-sans-800-italic.woff2') format('woff2'),
    url('../fonts/open-sans/800-italic/open-sans-800-italic.woff') format('woff'),
    url('../fonts/open-sans/800-italic/open-sans-800-italic.ttf') format('truetype'),
    url('../fonts/open-sans/800-italic/open-sans-800-italic.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/800/open-sans-800.eot');
    src: url('../fonts/open-sans/800/open-sans-800.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/800/open-sans-800.woff2') format('woff2'),
    url('../fonts/open-sans/800/open-sans-800.woff') format('woff'),
    url('../fonts/open-sans/800/open-sans-800.ttf') format('truetype'),
    url('../fonts/open-sans/800/open-sans-800.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
body{
    font-family: OpenSans, sans-serif;
}
.main-header{
    height: 803px;
    background: url(../img/home-bg.jpg) no-repeat center;
}
.main-header-wrapper{
    height: 803px;
    padding-top: 95px;
    background: rgba(242, 0, 0, .55);
}
.top-header{
    height: 95px;
    background-color: rgba(0, 0, 0, 0.65);
}
/* NAVIGATION */
.navbar-brand{
    float: left;
}
.logo{
    margin-top: 10px;
}
.nav-menu-item{
    display: inline-block;
    padding: 38px 13px 0 0;
}
li.nav-menu-item > a.nav-menu-item-link{
    position: relative;
    font-size: 16px;
    padding: 0 0 8px;
    color: #eee9e9;
    background-color: transparent;
}
li.nav-menu-item > a.active{
    color: #eb0000;
}
li.nav-menu-item > a.nav-menu-item-link:hover{
    color: #eb0000;
    transition: all .5s;
}
li.nav-menu-item > a.nav-menu-item-link::after{
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #eb0000;
}
li.nav-menu-item > a.nav-menu-item-link:hover::after{
    opacity: 1;
    transition: all 1s;
}
.nav-icon{
    float: right;
    font-size: 37px;
    margin: 25px;
    cursor: pointer;
    color: #eee9e9;
}
.nav-icon:hover{
    padding-top: 3px;
    color: #C6C1C1;
}
/* END NAVIGATION */
.header-text{
    height: 100%;
    width: 100%;
    display: table;
}
.h-text{
    display: table-cell;
    vertical-align: middle;
}
.h-title{
    font-size: 115px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #eee9e9;
}
.red{
    color: #f20101;
}
.h-description{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #eee9e9;
}
/* GLOBAL SECTION */
.section{
    padding-top: 75px;
    background-color: #000000;
}
.section-title{
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
/* END GLOBAL SECTION */
/* OUR SERVICES */
.section-services{
    padding-bottom: 155px;
}
.services-list{
    margin-top: 20px;
}
.services-item{
    margin-top: 45px;
}
.services-item-container{
    text-align: center;
    border: 2px solid #f20101;
    padding: 20px 0;
}
.services-item-container:hover{
    border: 2px solid #fff;
    transition: all .5s;
}
.services-icon{
    font-size: 80px;
    color: #fff;
}
.services-item-title{
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
    color: #fff;
}
.services-item-description{
    font-size: 14px;
    font-weight: 400;
    margin: 40px 0 20px 0;
    color: #fff;
}
.services-button{
    margin: 20px 0;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: #f20101;
}
.services-button:hover{
    text-decoration: none;
    color: #000000;
    background-color: #fff;
    transition: all .5s;
}
/* END OUR SERVICES */
/* OUR TEAM */
.section-team{
    background: url(../img/team-bg.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 85px;
}
.team-list{
}
.team-item{
    padding: 0 15px;
    margin-top: 70px;
    cursor: pointer;
}
.team-item-avatar{
    width: 100%;
}
.team-item-position{
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    color: #fff;
}
.team-item-description{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    padding: 30px 0 5px 0;
    border-bottom: 5px solid #f20101;
    color: #fff;
}
/*TRIP*/
.team-item-description::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 20px;
    border-top: 10px solid #f20101;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
/*TRIP*/
.team-item-social{
    opacity: 0;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #fff;
}
.team-item-social-icons{
    padding: 20px 10px;
    font-size: 20px;
    color: #f20101;
}
.team-item:hover .team-item-description{
    font-size: 17px;
    font-weight: 400;
    padding: 30px 0 5px 0;
    border-bottom: 5px solid transparent;
    color: #fff;
    transition: all .5s;
}
/*TRIP HOVER*/
.team-item:hover .team-item-description::after{
    content: "";
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transition: all .5s;
}
/*TRIP HOVER*/
.team-item:hover .team-item-social{
    opacity: 1;
    transition: all .5s;
}
.team-item-social-icons:hover{
    font-size: 20px;
    color: #fff;
    transition: all .5s;
}
h3.skill{
    font-size: 36px;
    font-weight: 700;
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.skill-list{
    margin-top: 85px;
}
.skill-name-item{
    margin: 0;
    padding: 14px 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
}
.skill-line{
    padding: 0;
    height: 10px;
    margin: 18px 0;
}
.line-white{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff;
}
.line-red{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #f20101;
}
.skill-percent-item{
    padding: 14px 0;
    margin: 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
}
/* END OUR TEAM */
/* OUR GALLERY */
.section-gallery{
    padding-bottom: 80px;
}
.section-gallery-description{
    padding: 30px 0 45px;
    margin: 0 auto;
    text-align: center;
    max-width: 960px;
    text-transform: capitalize;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
}
.gallery-buttons-list{
    margin: 0 auto;
    text-align: center;
}
.gallery-buttons-item{
    display: inline-block;
    padding-top: 7px;
    margin: 8px 12px;
    width: 180px;
    height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 38px;
    color: #fff;
    border: 1px solid #f20101;
}
.gallery-buttons-item:hover{
    background-color: #f20101;
    color: #fff;
    text-decoration: none;
    transition: all .5s;
}
.gallery-list-image{
    margin-top: 30px;
}
.gallery-item-container{
    position: relative;
    cursor: pointer;
    padding: 15px;
}
.gallery-img{
    width: 100%;
}
/* OVERFLOW IMAGES OF GALLERY AFTER HOVER */
.gallery-item-overflow{
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 15px;
    left: 15px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    background: rgba(242, 0, 0, .6) ;
}
.fa-search,
.fa-expand{
    font-size: 18px;
    padding: 5px;
    margin: 0 2px ;
    background-color: #000000;
    color: #fff;
}
.gallery-item-icons{
    opacity: 0;
    margin-bottom: 20px;
    text-align: center;
}
/* OVERFLOW */
/* GALLERY HOVER */
.gallery-item-container:hover .gallery-item-overflow{
    opacity: 1;
    transition: all .5s;
}
.gallery-item-container:hover .gallery-item-icons{
    opacity: 1;
    margin-bottom: 0;
    transition: all .5s;
}
.fa-expand:hover{
    background-color: #f20101;
    transition: all .5s;
}
.fa-search:hover{
    background-color: #f20101;
    transition: all .5s;
}
/* GALLERY HOVER */
/* END OUR GALLERY */
/* OUR PRICE */
.section-price{
    padding-bottom: 75px;
}
.price-list{
    margin-top: 65px;
}
.package-item{}
.package-item:hover .package-header{
    background-color: #333333;
}
.package-header{
    background-color: #f20101;
    text-align: center;
}
.package-title{
    font-size: 24px;
    color: #fff;
    padding: 25px 0;
}
.package-icon{
    display: block;
    font-size: 50px;
    color: #fff;
}
.package-price{
    position: relative;
    display: inline-block;
    font-size: 65px;
    font-weight: 700;
    color: #fff;
}
.package-price:before{
    content: "$";
    position: absolute;
    top: 15px;
    left: -12px;
    font-size: 20px;
    color: #fff;
}
.package-price > .small-txt{
   font-size: 20px;
}
.package-body{
    text-align: center;
    background-color: #e8e4e4;
    padding: 25px 0;
}
.package-enter{
    text-align: center;
    line-height: 24px;
    padding: 10px;
}
.package-button{
    display: inline-block;
    padding: 20px 50px;
    margin-top: 25px;
    background-color: #000000;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.package-button:hover{
    text-decoration: none;
    background-color: #f20101;
    color: #fff;
    transition: all .5s;
}
/*END OUR PRICE*/
/* OUR NEWS */
/* END OUR NEWS */
.section-news{
    padding-bottom: 70px;
    background: url(../img/home-bg.jpg) no-repeat;
    background-size: cover;
}
.news{
    margin-top: 60px;
}
.left-news-block{
    padding: 40px 0 10px 0;
    background: rgba(1, 1, 1, 0.65);
}
.left-news-list{
    padding: 0;
}
.left-news-title{
    padding: 0 0 30px 10px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
.left-news-item{
    padding: 10px 0;
}
.left-news-item-date{
    float: left;
    width: 110px;
    height: 110px;
    margin: 10px;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #f20101;
}
.left-news-item-text{
    max-width: 300px;
    float: left;
    margin: 10px;
    color: #fff;
}
.left-news-item-title{
    font-size: 14px;
    font-weight: 700;
}
.left-news-item-description{
    font-size: 14px;
}
.left-news-stats{}
.left-news-item-text .fa-eye,
.left-news-item-text .fa-comment{
    color: #f20101;
}
.left-news-item-text .left-news-stats-views,
.left-news-item-text .left-news-stats-comment{
    padding-right: 7px;
}
/* RIGHT NEWS BLOCK */
.right-news-block{
    background: rgba(256, 0, 0, 0.8);
}
.right-news-list{
    padding: 25px 0 33px;
}
.right-news-item{
    padding: 0 0 0 25px;
}
.right-news-item-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: 80px;
    float: left;
    margin: 4px 7px;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.right-news-item-text{
    max-width: 240px;
    float: left;
    padding-top: 7px;
    color: #fff;
}
.right-news-item-title{
    font-size: 14px;
    font-weight: 700;
}
.right-news-item-description{
    font-size: 11px;
    line-height: 16px;
}
.right-news-item-text > .right-news-stats{}
.right-news-item-text .fa-comment{
    color: #000;
}
.right-news-item-text .fa-eye{
    color: #000;
}
.right-news-item-text .right-news-stats-views,
.right-news-item-text .right-news-stats-comment{
    padding-right: 7px;
}